<ul class="sidebar-nav col-lg-3">
    <li class="sidebar-admin">Admin Menu</li>
    <li class="sidebar-admin-item"><a asp-controller="Admin" asp-action="UploadPage">Upload Static</a></li>
    <li class="sidebar-admin-item"><a asp-controller="Admin" asp-action="UploadFiles">Upload Files</a></li>
    <li class="sidebar-admin-item"><a asp-controller="Admin" asp-action="Options">Blog Options</a></li>
</ul>