@model YetAnotherBlog.Models.ResponseModel


<h3>Post Response</h3>

@if (User.IsInRole("Admin") || User.IsInRole("Poster") || User.IsInRole("Member"))
{
    <form asp-action="Reply">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <label class="control-label">Resonse</label>

        <div class="form-group">
            <textarea asp-for="Contents" class="form-control" rows="10"></textarea>
            <span asp-validation-for="Contents" class="text-danger"></span>
        </div>
        <div class="hidden">
            <textarea asp-for="ResponseTo" value=@Model.ResponseTo></textarea>
        </div>
        <div class="form-group">
            <input type="submit" value="Post" class="btn btn-default" />
        </div>
    </form>
}

