@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This is aimed at being a minimalist bloggin engine, meant only to provide the barebones of a blogging platform. The goal of this project is to create a small, simple platform that
    I am comfortable using for my own personal website.</p>
