@model YetAnotherBlog.Models.HomeViewModel

@inject UserManager<ApplicationUser> UserManager
@inject RoleManager<IdentityRole> RoleManager

@{
    ViewData["Title"] = "YetAnotherBlog";
}

@foreach (var Post in Model.Posts)
{
    <div class="post-container">
        <h3 class="post-title"><a asp-controller="Post" asp-action="View" asp-route-id=@Post.Id.ToString()>@Post.Title</a></h3>
        <div class="post-time">Posted at: @Post.TimePosted</div>
        
        <hr />
        
        <div class="post-text">
            @Html.Raw(Post.Post)
        </div>
    </div>
}