body {
    padding-top: 50px;
    padding-bottom: 20px;
}

hr {
    clear: both;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    /*width: 100%;*/
}

.page-content {
    float: left;
    padding-left: 15px;
    width: 85%;
}

.sidebar-nav {
    height: 100%;
    overflow-y: auto;
    background: #222;
    top: 0;
    width: 15%;
    padding: 0 10px 1em 1em;
    margin: 0 0 0 0;
    list-style: none;
    float: left;
}

.sidebar-nav a {
    color: #818181;
    font-size: 16px;
    text-decoration: none;
}

.sidebar-nav a:hover {
    color: #F1F1F1;
    font-size: 12px;
    text-decoration: none;
}

.sidebar-nav .sidebar-brand {
    padding-top: .5em;
    padding-bottom: .25em;
    font-size: 24px;
    color: #818181;
}

.post-time {
    font-size: 10px;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {

}
