
@{
    ViewData["Title"] = "User List";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h2>User List</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Email
            </th>
            <th>
                Role
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>
                Email Address
            </th>
            <th>
                Role
            </th>
            <th>
                <a href="#">Delete</a> | <a href="#">Change Role</a>
            </th>
        </tr>

    </tbody>
</table>