@model YetAnotherBlog.Models.UserListViewModel

@{
    ViewData["Title"] = "User List";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h2>User List</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Email
            </th>
            <th>
                Role
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <th>
                    @user.Email
                </th>
                <th>
                    @foreach (var role in user.Roles)
                    {
                        @role
                    }
                </th>
                <th>
                    <a asp-action="Delete" asp-route-email=@user.Email>Delete Account</a> | <a asp-action="ChangeRole" asp-route-email="@user.Email">Change Role</a>
                </th>
            </tr>
        }
    </tbody>
</table>